.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
.idea/runConfigurations/Build___Deploy_Robot_for_Debugging.xml

.idea/runConfigurations/Build___Deploy_Robot.xml

.idea/runConfigurations/Build_Robot.xml

.idea/runConfigurations/Clean_Build___Deploy_Robot_for_Debugging.xml

.idea/runConfigurations/Clean_Build___Deploy_Robot.xml

.idea/runConfigurations/Clean_Build_Robot.xml

.idea/runConfigurations/Clean.xml

.idea/runConfigurations/Debug_Robot_via_IP.xml

.idea/runConfigurations/Debug_Robot_via_USB.xml

example_projects/swerve_example/src/main/deploy/pathplanner/autos/New Auto.auto

example_projects/swerve_example/src/main/deploy/pathplanner/navgrid.json

example_projects/swerve_example/src/main/deploy/pathplanner/paths/Example Path.path

example_projects/swerve_example/src/main/deploy/pathplanner/settings.json
